@charset "UTF-8"
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body{
	background-color: #d0d0d0;
	font: 16px/18px Open Sans, Helvetica;
	color: #444;
	text-align: center;
}

header{
	text-align: center;
	margin: 15px 0;
}

h1{font: 32px/34px Open Sans, Helvetica;}
h5{font: 22px/24px Open Sans, Helvetica;}

strong{font-weight: 700;}

hr{
	border-top: 1px solid #444;
	width: 98%;
}

.container{
	margin: 0 auto;
	display: block;
	text-align: center;
	color: #FFF;
}

ul{
	list-style: none;
	padding: 0;
	cursor: default;
}

li{
	display: inline-block;
	line-height: 40px;
	perspective: 1000px;
}

li span{
	position: relative;
	display: inline-block;
	width: 270px;
	background: #AFEEEE;
	transition: transform 0.3s;
	transform-origin: 50% 0;
	transform-style: preserve-3d;
}

li span::before{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #AFEEEE;
	content: attr(data-hover);
	transition: background 0.3s;
	transform: rotateX(-90deg);
	transform-origin: 50% 0;
}

li:hover span,
li:focus span{transform: rotateX(90deg) translateY(-22px);}

li:hover span::before,
li:focus span::before{background: #AFEEEE;}

a:link{color: #444; text-decoration:none;}
a:visited{color: #444; text-decoration:none;}
a:hover{color: #444; text-decoration:none;}
a:active{color: #444; text-decoration:none;}

table tr:nth-child(n+2):hover{
	cursor: default;
	background: #f2f2f2;
}