body{
  background-color: #fff;
  font-family: sans-serif;
  background-color: #d6eaff;
  font-size: 25px;
}
h1{
  font-weight: normal;
  font-size: 150%;
}
canvas{
  border: 1px solid gainsboro;
}
a{
  text-decoration: none;
  color: black;
}
.relative{
	position: relative;
}
.relative:before{
	content:'';
	display:block;
}
#btn-flat-border, #saveBlock, #saveLog, #saveCode{
	position: relative;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	background: #4242ff;
	color: white;
	border: solid 2px #4242ff;
	border-radius: 3px;
	transition: .4s;
}
#btn-flat-border:hover, #saveBlock:hover, #saveLog:hover, #saveCode:hover{
	background: #0000ff;
	border: solid 2px #0000ff;
}

.originalFileBtn{
	position: relative;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	background: #4242ff;
	color: white;
	border: solid 2px #4242ff;
	border-radius: 3px;
	transition: .4s;
}
.originalFileBtn:hover{
	background: #0000ff;
	border: solid 2px #0000ff;
}
.originalFileBtn input[type="file"]{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}